@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

#siteContainer
{
	margin: 0 auto;
	width: 1400px;
	height: auto;
	text-decoration: none;
	background: #d7d7d7;
}

#mainNav {
	height: 175px;
	width: 1400px;
	background: #898989;
	display: flex;
}

#logoContainer {
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 25px;
	background: #252525
}

#mainNav ul{
	display: flex;
	height: 175px;
	margin-top: 75px;
}

#mainNav ul li {
	font-family: Arial;
	font-size: 24px;
	color: #000;
	margin-left: 15px;
}

#Sbutton{
	background: #333;
	padding-top:5px;
	border-radius: 10px;
	width: 90px;
	height: 30px;
}

#mainNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 5px;
	border-radius: 10px;
	color: #000;
}

#mainNav ul li a:hover {
	background-color: #999;
	border-radius: 10px;
	padding: 10px;
}


.divider
{
	width: 1400px;
	height: 25px;
	background: #999;
}



.title
{
	font-size: 36px;
	padding: 10px;
	font-family: Arial;
}

#about1{
	width: 1050px;
	background: #d7d7d7;
	display: flex;
	margin: 0 auto;
}

#about1 h1{
	font-size: 36px;
	padding: 10px;
	display: flex;


}

#aboutImageCon{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



#imageA1{
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;


}

#imageA2{
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}

#aboutTop{
	display: flex;
	flex-direction: column;
	margin-left: 50px;

}

.title2 {
	font-size: 30px;
	padding: 10px;
	font-family: Arial;

}

#aboutTop p {
	
	line-height: 45px;
	font-size: 24px;
	

}
	
#about2{
	width: 1050px;
	display: flex;
	margin: 0 auto;
	background-color: #d7d7d7;
	height: 705px;

}

#about2ImageCon {
	display: flex;
	flex-direction: column;
	justify-content: space-around;


}

#about2Image {
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}

#about2Image2 {
	height: 300px;
	width: 505px;
	background: #333;
	margin-right: auto;
}



#about2TextCon {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-top: 10px; 


}

#about2TextCon p {
	font-size: 24px;
	font-family: Arial;
	margin-right: 50px;
	line-height: 27px;
}



#memberships
{
	width: 1400px;
	height: 300px;
	background: #d7d7d7;
	display: flex;
}

#membershipImg {
	margin-left: 25px;
	width: 150px;
	height: 300px;
	background: #333;
}

#membershipText
{	
	margin-left: 15px;
	margin-top: 10px;
	font-family: Arial;
	font-size: 30px;
	width: 1050px;
}

#membershipText h2
{
	font-size: 36px;
}

#membershipText p
{
	margin-top: 10px;
	line-height: 45px;
	text-indent: 20px;
}




#footerNav {
	height: 175px;
	background: #898989;
	display: flex;
}

#footerNav ul{
	width: 1400px;
	display: flex;
	height: 175px;
	margin-top: 75px;
	margin-left: 75px;
}

#footerNav ul li {
	font-family: Arial;
	font-size: 24px;
	color: #000;
	margin-left: 15px;
}

#footerNav ul li a {
	text-decoration: none;
	flex-direction: row;
	padding: 20px;
	border-radius: 10px;
	color: #000;
}

#footerNav ul li a:hover {
	background-color: #999;
	border-radius: 10px;
	padding: 20px;
}

